// Vars
$white: #fff;
$black: #000;
$wp-border: #e5e5e5;

// Mixins
@mixin fields{
    input[type=text],
    input[type=search],
    input[type=radio],
    input[type=tel],
    input[type=time],
    input[type=url],
    input[type=week],
    input[type=password],
    input[type=checkbox],
    input[type=color],
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=email],
    input[type=month],
    input[type=number],
    select,
    textarea{
        @content;
    }
}

// core-form

// core-field
.core-field{
    display: block;
    margin: 20px 0;
    &:first-child{
        margin-top: 0;
    }
    &__label{
        font-weight: 600;
        display: inline-block;
        margin-bottom: 5px;
    }
    &__field{
        @include fields{
            min-width: 320px;
            width: 100%;
            @media (min-width: 640px){
                width: 30vw;
            }
        }
        textarea{
            width: 100%;
            min-height: 150px;
            min-width: 320px;
        }
    }
    &--check{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin: 0;
        .core-field{
            &__label{
                font-weight: normal;
            }
            &__field{
                margin-top: 2px;
                padding-right: 5px;
                input{
                    width: 16px;
                    height: 16px;
                    min-width: auto;
                }
            }
        }
    }
}

// core-row
.core-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    &__item{
        flex: 1 1 auto;
        padding-left: 20px;
        &--2{
            flex-grow: 2;
        }
        &--3{
            flex-grow: 3;
        }
    }
}

// core-box
.core-box{
    background: $white;
    border: 1px solid $wp-border;
    position: relative;
    box-shadow: 0 1px 1px rgba($black, 0.04);
    margin: 30px 0 20px;
    &__title{
        padding: 0 15px;
        border-bottom: 1px solid $wp-border;
    }
    &__inner{
        padding: 15px;
    }
}

// core-repeater
.core-repeater{
    background: $white;
    margin: 30px 0 20px;
    border: 1px solid $wp-border;
    box-shadow: 0 1px 1px rgba($black, 0.04);
    &__container{
        counter-reset: repeat;
        display: grid;
    }
    &__head{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    &__head,
    &__menu,
    &__item{
        padding-left: calc(2em + 10px);
        padding-right: 2em;
    }
    &__menu{
        margin: 1em 0;
        text-align: center;
    }
    &__item{
        background-color: $white;
        position: relative;
        &::before{
            transition: all 0.2s;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 100%;
        }
        &::after{
            border: 1px solid $wp-border;
            counter-increment: repeat;
            content: counter(repeat);
            width: 20px;
            height: 20px;
            background: $white;
            border-radius: 50%;
            position: absolute;
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            top: 15px;
            left: (10px / 2);
            transform: translateX(-50%);
        }
        &:first-child{
            &::before{
                border-top-right-radius: 5px;
            }
        }
        &:last-child{
            &::before{
                border-bottom-right-radius: 5px;
            }
        }
        &:nth-child(odd){
            &::before{
                background: #ccc;
            }
        }
        &:nth-child(even){
            &::before{
                background: #aaa;
            }
        }
        > .core-repeater{
            &__button{
                position: absolute;
                bottom: 15px;
                right: 15px;
                opacity: 0;
                transition: all 0.2s;
            }
        }
        &:hover{
            > .core-repeater{
                &__button{
                    opacity: 1;
                }
            }
        }
    }

    &__template{
        display: none;
    }
}


.core-editor{
    &__template,
    &__settings{
        display: none;
    }
}


.core-link{
    &::after{
        content: '';
        display: table;
        clear: both;
    }
    &__container{
        float: left;
        display: flex;
        align-items: center;
        padding: 1em;
        border: 1px solid #ccc;
        margin: 1em 0;
        background: $white;
    }
    &__area,
    &__fields{
        display: none;
    }
    &__display{
        display: flex;
        align-items: flex-end;
    }
    &__link{
        &:first-child{
            padding-left: 1em;
        }
    }
    &__clear{
        &:first-child{
            display: none;
        }
        margin-left: 1em;
        width: 20px;
        height: 20px;
        background: $white;
        border: 1px solid #ccc;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        font-weight: bold;
        color: #252525;
        cursor: pointer;
        position: relative;
        &:hover{
            color: red;
        }
        &::before{
            content: '✕';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

.core-file{
    display: flex;
    align-items: flex-end;
    &__content{
        padding-left: 1em;
        *{
            display: block;
        }
    }
}